
<div class="panel panel-default">
    <div class="panel-heading">
        All Input
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="auth_datatable">
            <thead>
              <tr>
                  <th class="col-xs-5">Command</th>
                  <th data-priority="1" class="col-xs-1">Count</th>
                  <th class="col-xs-3">First Used</th>
                  <th class="col-xs-3">Last Used</th>
              </tr>
            </thead>
          </table>
      </div>
      <!-- /.table-responsive -->

      <!-- DataTables JavaScript -->
      <script type="text/javascript" src="/datatables/DataTables-1.10.11/js/jquery.dataTables.js"></script>
      <script type="text/javascript" src="/datatables/DataTables-1.10.11/js/dataTables.bootstrap.js"></script>
      <script type="text/javascript" src="/datatables/Responsive-2.0.2/js/dataTables.responsive.js"></script>

      <script>
        $(document).ready( function () {
          $('#auth_datatable').DataTable( {
            "order": [[ 1, 'desc' ]],
            responsive: true,
            ajax: {
              url: '/json/allinput.json',
              dataSrc: ''
            },
            "columns": [
              {"data": "input"},
              {"data": "count"},
              {"data": "first_used"},
              {"data": "last_used"},
            ]
          });
        } );
      </script>

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
