<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="auth_datatable">
      <thead>
        <tr>
            <th>ip</th>
            <th>username</th>
            <th>password</th>
            <th>timestamp</th>
            <th>success</th>
        </tr>
      </thead>
    </table>
</div>
<!-- /.table-responsive -->
