<div class="panel panel-default">
    <div class="panel-heading">
        Number of authentications by day
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">

          google.charts.load('current', {packages: ['corechart', 'line']});

          google.charts.setOnLoadCallback(drawChart);

          //Convoluted process to count dates...
          function drawChart() {

            var data = new google.visualization.DataTable();

            $.getJSON('json/totalauthbyday.json', function(obj) {

              data.addColumn('date', 'Date');
              data.addColumn('number', 'Authentication Requests');

              obj.forEach( function(arrayItem) {
                document.getElementById('chart_div').innerHTML = arrayItem.date;
                data.addRow([new Date(arrayItem.date), arrayItem.count]);
              });
              var options = {
                height: 400,
                hAxis: {
                  format: 'dd/MM/yyyy'
                }
              }
              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

              chart.draw(data, options);

              google.visualization.events.addListener(chart, 'select', function() {
                var selection = chart.getSelection();
                var row = selection[0].row;
                var col = selection[0].column;
                var dateSelect = data.getValue(row, 0);
                location.href = 'http://localhost:3000/dailystats?row=' + row + '&col=' + col + '&date=' + Date.parse(dateSelect)/1000;
              })

            })


        }
      </script>

      <!--Div that will hold the chart-->
      <div id="chart_div"></div>

      <p>
         Try clicking on the graph for daily authentication stats!
      </p>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
