
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Mellivora</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="/overview"><i class="fa fa-dashboard fa-fw"></i> Overview</a>
                </li>
                <li>
                    <a href="/attackmap"><i class="fa fa-map-marker fa-fw"></i> Attack Map</a>
                </li>
                <li>
                    <a href="/attackers"><i class="fa fa-th-list fa-fw"></i> Attackers</a>
                </li>
                <li>
                    <a href="/honeypots"><i class="fa fa-cloud fa-fw"></i> Honeypots</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
