<div class="panel panel-default">
    <div class="panel-heading">
        Graph
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p id="loadtext" class="text-center">
        [Loading Daily Stats Graph...]
      </p>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">






          google.charts.load('current', {packages: ['corechart', 'line']});

          google.charts.setOnLoadCallback(drawChart);

          //Convoluted process to count dates...
          function drawChart() {

            var data = new google.visualization.DataTable();
            // datetime format 2016-03-15T15:02:30.000Z

            $.getJSON('json/totalauthbyhour.json', function(obj) {
              var date = new Date(GetURLParameter('date')* 1000);
              var isoDate = date.toISOString().substring(0, 10);
              $(".page-header").text("Stats for " + isoDate);
              //I'm fucked
              var timeArray = [];
              for (i = 0.001; i < 0.24; i+= 0.01) { //I'm crazy but this initialises an array with empty times using magic
                timeArray.push({"date": isoDate + " " + i.toString().substring(2, 4) + ":00:00", "count": 0 })
              }

              obj.forEach(function(arrayItem) {
                if (arrayItem.date.substring(0, 10) === isoDate) {
                  timeArray.forEach(function(timeItem) {
                    if(arrayItem.date === timeItem.date) {
                      timeItem.count = arrayItem.count;
                    }
                  })
                } else if(timeArray.length > 1) {
                  return;
                }
              })
              //$(".page-header").text(JSON.stringify(timeArray));


              timeArray.shift();

              data.addColumn('datetime', 'Time');
              data.addColumn('number', 'Authentication Requests');

              timeArray.forEach( function(arrayItem) {
                document.getElementById('chart_div').innerHTML = arrayItem.date;
                data.addRow([new Date(arrayItem.date), arrayItem.count]);
              });
              var options = {
                title: 'Authentication requests for ' + isoDate,
                height: 400,
                hAxis: {
                  format: 'hh:mm'
                }
              }
              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

              chart.draw(data, options);
              $('#loadtext').remove();
            })


        }
      </script>

      <!--Div that will hold the chart-->
      <div id="chart_div"></div>

    <!-- /.panel-body -->
</div>
<!-- /.panel -->
