<div class="panel panel-default">
    <div class="panel-heading">
        Number of authentications by day
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
