<div class="panel panel-default">
    <div class="panel-heading" id="what">
        Top 5 Passwords Today
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped" id="toppasswords">
          </table>
          <script>


            $(document).ready( function () {
              $.ajax({
                url: 'json/toppasswordstoday.json',
                datatype: 'json',
                success: function(data) {
                  html = "<thead><tr>" +
                          "<th>Password</th>" +
                          "<th>Count</th>" +
                          "</tr></thead>" +
                          "<tbody>";
                  for(i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += "<td>" + data[i].password + "</td>";
                    html += "<td>" + data[i].count + "</td>";
                  }
                  html += "</tbody>"
                  $("#toppasswords").html(html);
                }
              })
            })
          </script>
        </div>
    </div>

</div>
