<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">404 - Not Found!</h1>
            <p>
              Try again next time bro :)
            </p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
