#pothealth  {
  text-align: center;
}

.honeypot-panel .panel-body {
  padding: 0;
  max-height: 150px;
  background-color: #fdfdfd;
}

.honeypot-panel .panel-body:hover {
  padding: 0;
  max-height: 150px;
  background-color: #f9f9f9;
}

.honeypot-panel .col-lg-2 {
  padding-left: 0;
}
.honeypot-panel .padded {
  margin: 20px 0 0px 0;
}

.honeypot-panel .link {
  float:right;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: 100%;
}

.progress-label {
    float: left;
    margin-right: 1em;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
